@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
}

<!-- page content START -->
	<div class="index" id="">
		<!--=================================
	banner -->
		<section class="banner bg-holder bg-overlay-black-30" style="background-image: url(images/banner-01.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="text-white text-center mb-2">Lorem Ipsum</h1>
						<p class="lead text-center text-white mb-4 font-weight-normal">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
						<div class="property-search-field bg-white">
							<div class="property-search-item">
								@*<form class="md-form">
									<h1>Material Design formular</h1>
									<div class="form-group">
										<select>
											<option>Value 1</option>
											<option>Value 2</option>
										</select>
										<label for="select" class="control-label">Selectbox</label><i class="bar"></i>
									</div>
									<div class="form-group">
										<input type="text" required="required" />
										<label for="input" class="control-label">Textfield</label><i class="bar"></i>
									</div>
									<div class="form-group">
										<textarea required="required"></textarea>
										<label for="textarea" class="control-label">Textarea</label><i class="bar"></i>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="checked" /><i class="helper"></i>I'm the label from a checkbox
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" /><i class="helper"></i>I'm the label from a checkbox
										</label>
									</div>
									<div class="form-radio">
										<div class="radio">
											<label>
												<input type="radio" name="radio" checked="checked" /><i class="helper"></i>I'm the label from a radio button
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="radio" /><i class="helper"></i>I'm the label from a radio button
											</label>
										</div>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" /><i class="helper"></i>I'm the label from a checkbox
										</label>
									</div>
								</form>*@
								<form class="form-row basic-select-wrapper md-form">
									<div class="col-lg col-md-4">
										<div class="form-group width-80 ">
											<select class="form-control basic-select">
												<option>Commercial</option>
												<option>Co-working</option>
												<option>RE-Professionals</option>
											</select>
											<label for="select" class="control-label">Category</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg col-md-4">
										<div class="form-group width-80">
											<input type="text" required="required" />
											<label for="input" class="control-label">Location</label><i class="bar"></i>
										</div>
									</div>
									<div class="align-items-center d-flex col-lg col-md-4 justify-content-evenly no-border-right">
										<span class="align-items-center d-none d-lg-block"><button class="btn btn-primary d-flex align-items-center" type="submit"><i class="fas fa-search mr-1"></i><span>Search</span></button></span>
										<div class="text-center">
											<div class="">
												<a class="more-search p-0" data-toggle="collapse" href="#advanced-search" role="button" aria-expanded="false" aria-controls="advanced-search">
													<span class="d-block pr-2 mb-1">Advanced search</span>
													<i class="fas fa-angle-double-down"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="collapse advanced-search" id="advanced-search">
										<div class="basic-select-wrapper form-row">
											<div class="col-lg col-md-4">
												<div class="form-group width-80 ">
													<select class="form-control basic-select">
														<option>office</option>
														<option>retail</option>
														<option>warehouse</option>
														<option>cafe</option>
														<option>theme</option>
														<option>For Sale</option>
													</select>
													<label for="select" class="control-label">Type</label><i class="bar"></i>
												</div>
											</div>
											<div class="col-lg col-md-4">
												<div class="form-group width-80 ">
													<select class="form-control basic-select">
														<option>Lister 1</option>
														<option>Lister 2</option>
														<option>Lister 3</option>
													</select>
													<label for="select" class="control-label">Lister</label><i class="bar"></i>
												</div>
											</div>
											<div class="col-lg col-md-4 d-flex justify-content-center price-slider">
												<div class="">
													<div class="property-price-slider ">
														<label>Select Price Range</label>
														<input type="text" id="property-price-slider" name="example_name" value="" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="d-lg-none btn-block btn-mobile m-3">
										<button class="btn btn-primary btn-block align-items-center" type="submit"><i class="fas fa-search mr-1"></i><span>Search</span></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--=================================
	banner -->
		<!--=================================
	Browse properties -->
		<section class="space-ptb">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section-title text-center">
							<h2>Browse by category</h2>
							<p>To browse and buy in your areas of interest, look for properties by category.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="category">
							<ul class="list-unstyled mb-0">
								<li class="category-item">
									<a href="property-list.html">
										<div class="category-item__section">
											<div class="category-icon">
												<i class="flaticon-building-2"></i>
											</div>
											<h6 class="mb-0">Commercial</h6>
											<span>(457)</span>
										</div>
										<div class="category-item__desc"><span>Types: </span>Office, Rental, Industries, Warehouse</div>
									</a>
								</li>
								<li class="category-item">
									<a href="property-list.html">
										<div class="category-item__section">
											<div class="category-icon">
												<i class="flaticon-skyline"></i>
											</div>
											<h6 class="mb-0">Co-working</h6>
											<span>(659)</span>
										</div>
										<div class="category-item__desc"><span>Types: </span>Office, Cafe, Team</div>
									</a>
								</li>
								<li class="category-item">
									<a href="property-list.html">
										<div class="category-item__section">
											<div class="category-icon">
												<i class="flaticon-apartment"></i>
											</div>
											<h6 class="mb-0">RE-Professionals</h6>
											<span>(298)</span>
										</div>

										<div class="category-item__desc"><span>Types: </span>Property Developers, Leasing, Interior Designer, co-Working Architecture, Investor</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--=================================
	Browse properties -->
		<!--=================================
	Feature -->
		<section class="space-ptb bg-holder-bottom building-space" style="background-image: url(images/building-bg.png);">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-9">
						<div class="section-title mb-0">
							<h2>Plenty of reasons to choose us</h2>
							<p>Our Company has many specialized areas, but our CUSTOMERS are our real specialty.</p>
						</div>
					</div>
					<div class="col-lg-3 text-lg-right">
						<a class="btn btn-primary" href="about-us.html">More about us </a>
					</div>
				</div>
				<div class="row no-gutters mt-4">
					<div class="col-lg-3 col-sm-6">
						<div class="feature-info h-100">
							<div class="feature-info-icon">
								<i class="flaticon-apartment"></i>
							</div>
							<div class="feature-info-content">
								<h6 class="mb-3 feature-info-title">Find Resource</h6>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="feature-info h-100">
							<div class="feature-info-icon">
								<i class="flaticon-house-1"></i>
							</div>
							<div class="feature-info-content">
								<h6 class="mb-3 feature-info-title">Add Resource</h6>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="feature-info h-100">
							<div class="feature-info-icon">
								<i class="flaticon-agent"></i>
							</div>
							<div class="feature-info-content">
								<h6 class="mb-3 feature-info-title">Manage Clients / Employee</h6>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="feature-info h-100">
							<div class="feature-info-icon">
								<i class="flaticon-like-1"></i>
							</div>
							<div class="feature-info-content">
								<h6 class="mb-3 feature-info-title">No Paper Work</h6>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--=================================
	Feature -->
		<!--=================================
	call to action -->
		<section class="py-5 bg-primary">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-9">
						<h2 class="text-white mb-0">Looking to Co-working management software?</h2>
					</div>
					<div class="col-lg-3 text-lg-right mt-3 mt-lg-0">
						<a class="btn btn-white" href="#">Get a free Demo</a>
					</div>
				</div>
			</div>
		</section>
		<!--=================================
	call to action -->
		<!--=================================
	offering the Best Real Estate-->
		<section class="clearfix space-ptb">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section-title text-center">
							<h2>Discover our best deals</h2>
							<p>Check the listings of the best dealer on Hispace and contact the agency or its agent by phone or contact form.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="owl-carousel owl-nav-top-right" data-animateOut="fadeOut" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
							<div class="item">
								<div class="property-offer">
									<div class="property-offer-item">
										<div class="property-offer-image bg-holder" style="background: url('images/property/big-img-01.jpg');">
											<div class="row">
												<div class="col-lg-6 col-md-10 col-sm-12">
													<div class="property-details">
														<div class="property-details-inner">
															<h5 class="property-title"><a href="property-detail-style-01.html">Lorem ipsum dolor sit </a></h5>
															<span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Lorem ipsum dolor sit</span>
															<span class="property-agent-date"><i class="far fa-clock fa-md"></i>10 days ago</span>
															<p class="mb-0 d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .</p>
															<div class="property-price">$150.00<span> / month</span> </div>
															<ul class="property-info list-unstyled d-flex">
																<li class="flex-fill property-bed"><i class="fas fa-car"></i>Car Parking<span>1</span></li>
																<li class="flex-fill property-m-sqft"><i class="far fa-square"></i>sqft<span>145m</span></li>
															</ul>
														</div>
														<div class="property-btn">
															<a class="property-link" href="property-detail-style-01.html">See Details</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="property-offer">
									<div class="property-offer-item">
										<div class="property-offer-image bg-holder" style="background: url('images/property/big-img-01.jpg');">
											<div class="row">
												<div class="col-lg-6 col-md-10 col-sm-12">
													<div class="property-details">
														<div class="property-details-inner">
															<h5 class="property-title"><a href="property-detail-style-01.html">Lorem ipsum dolor sit </a></h5>
															<span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Lorem ipsum dolor sit</span>
															<span class="property-agent-date"><i class="far fa-clock fa-md"></i>10 days ago</span>
															<p class="mb-0 d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .</p>
															<div class="property-price">$150.00<span> / month</span> </div>
															<ul class="property-info list-unstyled d-flex">
																<li class="flex-fill property-bed"><i class="fas fa-car"></i>Car Parking<span>1</span></li>
																<li class="flex-fill property-m-sqft"><i class="far fa-square"></i>sqft<span>145m</span></li>
															</ul>
														</div>
														<div class="property-btn">
															<a class="property-link" href="property-detail-style-01.html">See Details</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--=================================
	offering the Best Real Estate-->
		<!--=================================
	Most popular places -->
		<section class="space-ptb space-pb-80">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section-title text-center">
							<h2>Most popular places</h2>
							<p>Discover homes in Real villa Most Popular Cities</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-md-6 mb-4 mb-lg-0">
								<a href="property-grid.html">
									<div class="location-item bg-overlay-gradient bg-holder" style="background-image: url(images/location/01.jpg);">
										<div class="location-item-info">
											<h5 class="location-item-title">Chennai</h5>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-6 mb-4 mb-md-0">
								<a href="property-grid.html">
									<div class="location-item bg-overlay-gradient bg-holder" style="background-image: url(images/location/02.jpg);">
										<div class="location-item-info">
											<h5 class="location-item-title">Mumbai</h5>
										</div>
									</div>
								</a>
							</div>
							<div class="col-lg-12 mt-0 mt-lg-4">
								<a href="property-grid.html">
									<div class="location-item bg-overlay-gradient bg-holder" style="background-image: url(images/location/04.jpg);">
										<div class="location-item-info">
											<h5 class="location-item-title">Delhi</h5>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mt-4 mt-lg-0">
						<a href="property-grid.html">
							<div class="location-item location-item-big bg-overlay-gradient bg-holder" style="background-image: url(images/location/02.jpg);">
								<div class="location-item-info">
									<h5 class="location-item-title">Bangalore </h5>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!--=================================
	Most popular places -->

	</div>