@{
    ViewData["Title"] = "PropertyDetail";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    @using Microsoft.AspNetCore.Http
}


	<div class="propertydetail nav-padding">
		<div class="bg-light">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>

							<li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-chevron-right"></i> <span> Property List</span></a></li>
							<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Property Details</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="wrapper">
			<!--=================================
		Property details -->
			<section class="space-pt--50 ">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 mb-5 mb-lg-0 order-lg-2">
							<div class="sticky-top">
								<div class="widget accordion-sec">
									<div class="widget-title widget-collapse">
										<a class="ml-auto" data-toggle="collapse" href="#property-lister" role="button" aria-expanded="false" aria-controls="property-lister"><h6>Lister Detail</h6> <i class="fas fa-chevron-down"></i> </a>
									</div>
									<div class="collapse show" id="property-lister">
										<div class="accordion-sec__detail">
											<div class="lister-head">
												<div class="lister-head__name">Highbrow service</div>
												<img class="lister-head__image img-fluid" src="~/images/listing/logo.png" alt="" />
											</div>
											<div class="lister-detail">
												<div><i class="fas fa-globe"></i><b>Website: </b> <span>www.hdsre.com</span></div>
												<div><i class="fas fa-mobile-alt"></i><b>Phone: </b><span>9898989898</span></div>
												<div><i class="fas fa-city"></i><b>Total List </b><span>(5)</span></div>
											</div>
											<div class="lister-btn">
												<a class="btn btn-sm btn-primary" href="@Url.Action( "PropertyLister","Website")">See Details</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="enquiry-form">
									<div class="">
										<h3 class="text-center">Enquiry</h3>
									</div>
									<form class="md-form form-row ">

										<div class="col-md-6">
											<div class="form-group">
												<input type="text" placeholder="Name" />
												<label for="input" class="control-label">Name</label><i class="bar"></i>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" placeholder="9999999999" />
												<label for="input" class="control-label">Phone</label><i class="bar"></i>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" placeholder="abc@gmail.com" />
												<label for="input" class="control-label">Email</label><i class="bar"></i>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea type="text" rows="2" placeholder="Enter your message here..."></textarea>
												<label for="input" class="control-label">Message</label><i class="bar"></i>
											</div>
										</div>
										<div class="col-md-12 d-flex justify-content-center mb-3">
											<a href="#" class="btn btn-primary btn-sm">Enquiry Now</a>
										</div>

									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-8 order-lg-1">
							<div class="property-detail-img popup-gallery">
								<div class="owl-carousel owl-loaded owl-drag" data-animateout="fadeOut" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">


									<div class="owl-stage-outer">
										<div class="owl-stage" style="transform: translate3d(-1220px, 0px, 0px); transition: all 1s ease 0s; width: 3660px;">
											<div class="owl-item cloned" style="width: 610px;">
												<div class="item">
													<a class="portfolio-img" href="~/images/property/big-img-01.jpg"><img class="img-fluid" src="~/images/property/big-img-01.jpg" alt=""></a>
												</div>
											</div>
											<div class="owl-item cloned" style="width: 610px;">
												<div class="item">
													<a class="portfolio-img" href="~/images/property/big-img-02.jpg"><img class="img-fluid" src="~/images/property/big-img-02.jpg" alt=""></a>
												</div>
											</div>
										</div>
									</div>
									<div class="owl-nav">
										<button type="button" role="presentation" class="owl-prev"><i class="fas fa-chevron-left"></i></button>
										<button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button>
									</div>
									<div class="owl-dots disabled"></div>
								</div>
							</div>
							<div class="property-info mt-5">
								<div class="row">
									<div class="col-sm-3 mb-3 mb-sm-0">
										<h5>Property details</h5>
									</div>
									<div class="col-sm-9">
										<div class="mb-3">
											<ul class="property-list list-unstyled row mb-3">
												<li class="col-sm-6"><b>Type:</b> Commercial</li>
												<li class="col-sm-6"><b>Level:</b> Office</li>
												<li class="col-sm-6"><b>Size:</b> 1000 - 1500 Sq Ft</li>
												<li class="col-sm-6"><b>Year Built:</b> 2019-01-09</li>
												<li class="col-sm-6"><b>Recent Innovation:</b> 2019-01-09</li>
												<li class="col-sm-6"><b>Infra Type:</b> Shell</li>
											</ul>
										</div>
										<h6 class="text-primary mb-2 mb-sm-2">Additional details</h6>
										<div class="mb-3">
											<ul class="property-list list-unstyled row mb-3">
												<li class="col-sm-6"><b>Meeting Room:</b> 2</li>
												<li class="col-sm-6"><b>Private Office:</b> 1</li>
												<li class="col-sm-6"><b>Virtual Office:</b> Available</li>
												<li class="col-sm-6"><b>Co-Working:</b> 80 seats</li>
												<li class="col-sm-6"><b>Cafe:</b> 20 seats</li>
											</ul>
										</div>
										<h6 class="text-primary mb-2 mb-sm-2">Price / Occupancy</h6>
										<div class="mb-3">
											<ul class="property-list list-unstyled row mb-3">
												<li class="col-sm-6"><b>Price Range:</b> 400 - 10000</li>
												<li class="col-sm-6"><b>Availablity:</b> Hour | Day | Month</li>
												<li class="col-sm-6"><b>Current Occupancy:</b> 40%</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3 mb-sm-3 mt-sm-3">
							<div class="property-description">
								<div class="row">
									<div class="col-sm-3 mb-3 mb-sm-0">
										<h5>Description</h5>
									</div>
									<div class="col-sm-9">
										<p>The home features private entry copper-clad door leading to salon with marble floors. Stunning great room has soaring 45 foot ceilings with glass windows, polished concrete floors, exposed brick &amp; sculptural steel beams. The chef's kitchen has honed granite counters, high-end S/S appliances, French cabinets &amp; gas range.</p>
										<p>Floor-to-ceiling windows accentuate the panoramic vistas that sweep across the Golden Gate Bridge, the downtown skyline, the artfully lit Bay Bridge and beyond. The floor plan features two bedroom suites, kitchen, living/dining room, two view terraces and ample storage space. </p>
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3 mb-sm-3 mt-sm-3">
							<div class="property-amenities">
								<div class="row">
									<div class="col-sm-3 mb-3 mb-sm-0">
										<h5>Amenities</h5>
									</div>
									<div class="col-sm-9">
										<div class="row">
											<div class="mb-3">
												<ul class="amenities-list list-unstyled row mb-3">
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-sec"></i>
														Bike Parking
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-pry"></i>
														Car Parking
														<span class="spliter">|</span>
														<span class="font-weight-bold">Free<span class="text-sufix">(10)</span></span>
														<span class="spliter">|</span>
														<span>&#8377;50/Usage</span>
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-sec"></i>
														High Speed Internet
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-pry"></i>
														Toga station
														<span class="spliter">|</span>
														<span class="font-weight-bold">Paid</span>
														<span class="spliter">|</span>
														<span>&#8377;50/Usage</span>
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-sec"></i>
														AC
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-pry"></i>
														Snacks
														<span class="spliter">|</span>
														<span class="font-weight-bold">Paid</span>
														<span class="spliter">|</span>
														<span>&#8377;50/Usage</span>
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-pry"></i>
														Child Care
														<span class="spliter">|</span>
														<span class="font-weight-bold">Paid</span>
														<span class="spliter">|</span>
														<span>&#8377;1000/Usage</span>
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-pry"></i>
														Personal Locker
														<span class="spliter">|</span>
														<span class="font-weight-bold">Paid</span>
														<span class="spliter">|</span>
														<span>&#8377;50/Usage</span>
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-sec"></i>
														Kitchen
													</li>
													<li class="col-sm-6">
														<i class="fas fa-check-circle text-pry"></i>
														Standing Desk
														<span class="spliter">|</span>
														<span class="font-weight-bold">Free<span class="text-sufix">(10)</span></span>
														<span class="spliter">|</span>
														<span>&#8377;500/Usage</span>
													</li>
												</ul>
											</div>
											<div class="note">
												<div>
													<i class="fas fa-check-circle text-sec"></i>
													<span class="font-weight-bold">Free Aminities</span>
												</div>
												<div>
													<i class="fas fa-check-circle text-pry"></i>
													<span class="font-weight-bold">Paid (or) Partialy Paid Aminities</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3 mb-sm-3 mt-sm-3">
							<div class="property-facilities">
								<div class="row">
									<div class="col-sm-3 mb-3 mb-sm-0">
										<h5>Facilities</h5>
									</div>
									<div class="col-sm-9">
										<div class="mb-3">
											<ul class="property-list facilities-list list-unstyled row mb-3">
												<li class="col-sm-6">
													<i class="fab fa-gratipay text-info"></i>Bus Terminal
													<span>0 to .5KM</span>
												</li>
												<li class="col-sm-6">
													<i class="fab fa-gratipay text-info"></i>Railway Station
													<span>.5 to 1KM</span>
												</li>
												<li class="col-sm-6">
													<i class="fab fa-gratipay text-info"></i>Airport
													<span>5 to 10KM</span>
												</li>
												<li class="col-sm-6">
													<i class="fab fa-gratipay text-info"></i>Hotels
													<span>.5 to 1KM</span>
												</li>
												<li class="col-sm-6">
													<i class="fab fa-gratipay text-info"></i>Park
													<span>1 to 2KM</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3 mb-sm-3 mt-sm-3">
							<div class="property-available">
								<div class="row">
									<div class="col-sm-3 mb-3 mb-sm-0">
										<h5>Available Time</h5>
									</div>
									<div class="col-sm-9">
										<div class="mb-3">
											<ul class="property-list available-list list-unstyled row mb-3">
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>24/7</b>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Monday: </b>
													<span>10:00AM</span> - <span>06:00PM</span>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Tuesday: </b>
													<span>10:00AM</span> - <span>06:00PM</span>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Wednesday: </b>
													<span>10:00AM</span> - <span>06:00PM</span>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Thursday: </b>
													<span>10:00AM</span> - <span>06:00PM</span>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Friday: </b>
													<span>10:00AM</span> - <span>06:00PM</span>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Saturday: </b>
													<span>Closed</span>
												</li>
												<li class="col-sm-12">
													<i class="fas fa-business-time"></i><b>Sunday: </b>
													<span>Closed</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3 mb-sm-3 mt-sm-3">
							<div class="property-schedule">
								<div class="row">
									<div class="col-sm-3 mb-3 mb-sm-0">
										<h5>Schedule a tour</h5>
									</div>
									<div class="col-sm-9">
										<form class="form-row md-form">
											<div class="form-group col-sm-6 datetimepickers">
												<div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
													<input type="text" class="datetimepicker-input" data-target="#datetimepicker-01" placeholder="MM/DD/YYY">
													<label for="input" class="control-label">Date</label><i class="bar"></i>
													<div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
														<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
													</div>

												</div>

											</div>
											<div class="form-group col-sm-6 datetimepickers">
												<div class="input-group date" id="datetimepicker-03" data-target-input="nearest">
													<input type="text" class="datetimepicker-input" placeholder="10:10AM" data-target="#datetimepicker-03">
													<label for="input" class="control-label">Time</label><i class="bar"></i>
													<div class="input-group-append" data-target="#datetimepicker-03" data-toggle="datetimepicker">
														<div class="input-group-text"><i class="far fa-clock"></i></div>
													</div>
												</div>

											</div>
											<div class="form-group col-sm-6">
												<input type="text" placeholder="Name">
												<label for="input" class="control-label">Name</label><i class="bar"></i>
											</div>
											<div class="form-group col-sm-6">
												<input type="Text" placeholder="9999999999">
												<label for="input" class="control-label">Phone</label><i class="bar"></i>
											</div>
											<div class="form-group col-sm-12">
												<input type="email" placeholder="abc@gmail.com">
												<label for="input" class="control-label">Email</label><i class="bar"></i>
											</div>

											<div class="form-group col-sm-12">
												<textarea class="" rows="2" placeholder="Enter your message here..."></textarea>
												<label for="input" class="control-label">Message</label><i class="bar"></i>
											</div>
											<div class="form-group col-sm-12">
												<button type="submit" class="btn btn-primary">Submit</button>
											</div>
											<div class="col-sm-6"></div>
										</form>
									</div>
								</div>
							</div>

							<hr class="mt-3 mb-3 mb-sm-3 mt-sm-3">
							<div class="map-info row">
								<div id="map"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--=================================
		Property details -->


		</div>
	</div>